
html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(243, 209, 219);
    display: flex;
    justify-content: center;
    
}

.card{
    background-color: antiquewhite;
    border-radius: 20px;
    box-shadow: 4px 8px 8px gray;
    padding: 20px ;
    width: 70%;
    height: fit-content;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between ;
    padding: 10px 20px;
    
}
.menu a , #contactMe a{
    margin: 0 15px;
    text-decoration: none;
    font-size: 20px;
    color: palevioletred;
    transition: 0.3s;
     cursor: pointer;
}

a:hover {
    transform: scale(1.05);
    color:#e75757;
    letter-spacing:1px;
}



.mylogo img{
    width: 200px;
    height: 200px;
}

#home p {
    margin-bottom: 0px;
} 

#home sub {
    font-size: 7px;
}

#home{
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.text h1 {
    font-size: 64px;
    font-weight: 700;
    line-height: 1.1;
    color: #e75757;
}
.text p{
    font-size: 18px;
    margin-bottom: 3px;
    color :gray
}

.me img {
    width: fit-content;
    border-radius: 20px;
    display: block;
}
sub{
    font-weight: 20px;
}

.line{
    display: flex;
    align-items: center;
}
hr{
    flex: 1;
    margin-left: 10px;
    border: 1px solid  #e75757;
}


h2{
    color: #e75757;
    
}



#about .skills , .projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px; 
  margin-top: 20px;
}

.skill h3 ,skill2 h3{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.skill p ,.skill2 p  {
  font-size: 14px;
  color: gray;
  margin: 0;
}

.skill2 {
    text-align: center;
}
#work{
    text-align: center;
}

#work img{
    width: 200px;
    height: 200px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px;
    box-shadow: 3px 3px 3px gray;
}

#work img:hover{
    transform: scale(1.05);
}


#contactMe img{
    width: 30px;
    height: 30px;
}

#contactMe{
    text-align: center;
}

#contactMe ul {
    list-style: none;
    padding-bottom: 10px;
}

