html{
    scroll-behavior:smooth;
}

body{
    background-color:rgb(243,209,219);
    display:flex;
    justify-content:center;
    font-family:"Poppins",sans-serif;
}

.card{
    background-color:antiquewhite;
    border-radius:20px;
    box-shadow:4px 8px 8px gray;
    padding:20px;
    width:70%;
    height: fit-content;
}

/* HEADER */

header{
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.mylogo img{
    width:80px;
}

/* MENU */

.menu a,
#contactMe a{
    margin:0 15px;
    text-decoration:none;
    font-size:20px;
    color:palevioletred;
    transition:0.3s;
}

a:hover{
    transform:translateY(-2px);
    color:#e75757;
    letter-spacing:1px;
}

/* HOME */

#home{
    display:flex;
    align-items:center;
    justify-content:space-between;
    min-height:100vh;
    padding:60px 8%;
    gap:40px;
}

.text h1{
    font-size:64px;
    line-height:1.1;
    color:#e75757;
}

.text p{
    color:gray;
}

.me img{
    max-width:350px;
    width:100%;
    border-radius:20px;
}

.text h1 sub {
    font-size: 15px;
}

/* SECTION LINE */

.line{
    display:flex;
    align-items:center;
}

hr{
    flex:1;
    margin-left:10px;
    border:1px solid #e75757;
}

h2{
    color:#e75757;
}

/* GRID */

.skills,
.projects{
    display:grid;
    grid-template-columns:
        repeat(auto-fit,minmax(220px,1fr));
    gap:30px;
    margin-top:20px;
}

.skill h3,
.skill2 h3{
    margin-bottom:5px;
}

.skill p,
.skill2 p{
    color:gray;
}

/* PROJECTS */

.skill2{
    text-align:center;
}

#work img{
    width:200px;
    height:200px;
    border-radius:10px;
    box-shadow:3px 3px 8px gray;
    transition:0.3s;
}

#work img:hover{
    transform:translateY(-5px);
    box-shadow:6px 8px 15px gray;
}

/* CONTACT */

#contactMe , #about{
    text-align:center;
    padding:80px 0;
}

#contactMe img{
    width:30px;
}

#contactMe ul{
    list-style:none;
}


